################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
.vs/
/.vs
*.suo
*.user
_ReSharper.*
bin
/bin
bin/
obj
packages
